; {{ ansible_managed }}

[uwsgi]

; mapped uwsgi settings
{% for key, value in uwsgi.iteritems() %}
{{ key }} = {{ value }}
{% endfor %}
{% if 'pythonpath' not in uwsgi.keys() %}pythonpath = {{ source_dir }}{% endif %}
{% if 'chdir' not in uwsgi.keys() %}chdir = {{ source_dir }}{% endif %}
{% if 'home' not in uwsgi.keys() %}home = {{ virtualenv_dir }}{% endif %}

; user settings
{% if app_user != 'www-data' %}username = {{ app_user }}{% endif %}

; env vars
{% for var in env_vars %}
env = {{ var }}
{% endfor %}
